<template>
  <div class="container">
    <Toast />
    <Panel header="Liste Des Adherents">
      <Menubar :model="items" />
      <br />
      <DataTable
        :value="users"
        :paginator="true"
        :rows="10"
        :selection.sync="selectdAdherent"
        selectionMode="single"
        dataKey="id"
        paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
        :rowsPerPageOptions="[10, 20, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
      >
        <Column field="id" header="Id" style="width: 30px;"></Column>
        <Column field="name" header="Nom"></Column>
        <Column field="username" header="prenom"></Column>
        <Column field="phone" header="telephone"></Column>
        <Column field="profession" header="profession"></Column>
        <Column field="email" header="email" style="width: 199px;"></Column>
        <Column field="subscription" header="subscription"></Column>

        <template #paginatorLeft>
          <Button type="button" icon="pi pi-refresh" class="p-button-text" />
        </template>
        <template #paginatorRight>
          <Button type="button" icon="pi pi-cloud" class="p-button-text" />
        </template>
      </DataTable>
    </Panel>
    <Dialog
      header="Ajouter Un Adherent :"
      :visible.sync="displayModal"
      :style="{ width: '50vw' }"
      :modal="true"
    >
      <h5>Nom</h5>
      <span class="p-float-label" style="width: 100%;">
        <InputText
          id="name"
          type="text"
          v-model="Adherent.name"
          style="width: 100%;"
        />
        <label for="name"></label>
      </span>
      <h5>Prenom</h5>
      <span class="p-float-label" style="width: 100%;">
        <InputText
          id="username"
          type="text"
          v-model="Adherent.username"
          style="width: 100%;"
        />
        <label for="username"></label>
      </span>
      <h5>Mot de Passe</h5>
      <Password
        v-model="Adherent.password"
        :feedback="false"
        style="width: 100%;"
      />
      <h5>Email</h5>
      <span class="p-float-label" style="width: 100%;">
        <InputText
          id="email"
          type="email"
          v-model="Adherent.email"
          style="width: 100%;"
        />
        <label for="email"></label>
      </span>
      <h5>telephone</h5>
      <span class="p-float-label" style="width: 100%;">
        <InputText
          id="phone"
          type="text"
          v-model="Adherent.phone"
          style="width: 100%;"
        />
        <label for="telephone"></label>
      </span>
      <h5>profesion</h5>
      <span class="p-float-label" style="width: 100%;">
        <InputText
          id="profession"
          type="text"
          v-model="Adherent.profession"
          style="width: 100%;"
        />
        <label for="profesion"></label>
      </span>
      <template #footer>
        <Button
          label="Confirme"
          class="p-button-rounded p-button-success"
          @click="save"
        />
        <Button
          label="Annuler"
          class="p-button-rounded p-button-danger"
          @click="closeModel"
        />
      </template>
    </Dialog>
  </div>
</template>
<script>
import axios from "axios";
var parent = null;
export default {
  name: "Ad",
  data() {
    return {
      users: [],
      displayModal: false,
      Adherent: {
        id: null,
        name: null,
        email: null,
        username: null,
        phone: null,
        profession: null,
      },
      selectdAdherent: {
        id: null,
        name: null,
        email: null,
        username: null,
        phone: null,
      },
      items: [
        {
          label: "Ajouter",
          icon: "pi pi-fw pi-user-plus",
          command: () => {
            parent.openModal();
          },
        },

        {
          label: "Modifier",
          icon: "pi pi-fw pi-trash",
          command: () => {
            parent.showEdit();
          },
        },
        {
          label: "Suprime",
          icon: "pi pi-fw pi-trash",
          command: () => {
            parent.delete();
          },
        },
        {
          label: "Actualiser",
          icon: "pi pi-fw pi-refresh",
          command: () => {
            parent.getAllUsers();
          },
        },
      ],
    };
  },
  mounted: function() {
    this.getAllUsers();
    parent = this;
  },

  methods: {
    getAllUsers() {
      axios
        .get("http://localhost:8083/adherent/")
        .then((response) => (this.users = response.data));
    },
    showEdit() {
      parent.Adherent = parent.selectdAdherent;
      parent.displayModal = true;
    },
    delete() {
      if (confirm("voulez suprime le Adherent")) {
        axios
          .delete(
            "http://localhost:8083/adherent/delete/" + parent.selectdAdherent.id
          )
          .then((data) => {
            if (data.status === 200) {
              this.toast.add({
                severity: "success",
                summary: "Success Message",
                detail: "Order submitted",
                life: 3000,
              });
            }
          });
      }
    },

    save() {
      axios
        .post("http://localhost:8083/adherent/new", parent.Adherent)
        .then((data) => {
          if (data.status === 200) {
            parent.displayModal = false;
            parent.Adherent = {
              id: null,
              name: null,
              email: null,
              username: null,
              phone: null,
            };
          }
        });
    },
    closeModel() {
      parent.displayModal = false;
    },
    openModal() {
      parent.displayModal = true;
    },
  },
};
</script>
