<template>
  <div class="container">
    <Panel header="Liste Des Entraineurs" >
      <Menubar :model="items" />
      <br />
      <DataTable
        :value="coach"
        :paginator="true"
        :rows="10"
        paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
        :rowsPerPageOptions="[10, 20, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
      >
        <Column field="id" header="Id" style="width: 30px;"></Column>
        <Column field="name" header="Nom"></Column>
        <Column field="username" header="prenom"></Column>
        <Column field="phone" header="telephone"></Column>
          <Column field="cni" header="cni"></Column>
            <Column field="gender" header="sexe"></Column>
             <Column field="email" header="email" style="width: 199px;"></Column>
    
        <template #paginatorLeft>
          <Button type="button" icon="pi pi-refresh" class="p-button-text" />
        </template>
        <template #paginatorRight>
          <Button type="button" icon="pi pi-cloud" class="p-button-text" />
        </template>
      </DataTable>
    </Panel>
  </div>
</template>
<script>
import axios from "axios";
 var parent=null;
export default {
  name: "Ad",
  data: () => ({
    coach: [],
    items: [
      {
        label: "Ajouter",
        icon: "pi pi-fw pi-user-plus",
        command : () => {
          console.log(this);
          parent.save();
        }
      },
      {
        label: "Edit",
        icon: "pi pi-fw pi-pencil",
      },
      {
        label: "Modifier",
        icon: "pi pi-fw pi-trash",
      },
      {
        label: "Suprime",
        icon: "pi pi-fw pi-trash",
      },
      {
        label: "Actualiser",
        icon: "pi pi-fw pi-refresh",
        command : () => {
        
        }
      },
    ],
  }),
  mounted: function() {
    this.getAllUsers();
    parent=this;
  
  },

  methods : {
    getAllUsers() {
      axios
        .get("http://localhost:8083/coach/")
        .then((response) => (this.coach = response.data));
    },

   save(){
          alert("saved");
      }

  }
};
</script>
