<template>
  <div style="container">
    <Panel header="Liste Des Entraineurs">
      <Menubar :model="items" />
      <br />
      <DataTable
        :value="users"
        :paginator="true"
        :rows="10"
        paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
        :rowsPerPageOptions="[10, 20, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
      >
        <Column field="id" header="Id"></Column>
        <Column field="activity.nameActivity" header="activite"></Column>
        <Column field="coach.name" header="entraineur"></Column>
        <Column field="hall.name" header="salle"></Column>
        <Column field="level" header="niveau"></Column>
        <Column field="duration" header="dure"></Column>
        <template #paginatorLeft>
          <Button type="button" icon="pi pi-refresh" class="p-button-text" />
        </template>
        <template #paginatorRight>
          <Button type="button" icon="pi pi-cloud" class="p-button-text" />
        </template>
      </DataTable>
    </Panel>
  </div>
</template>
<script>
import axios from "axios";
 var parent=null;
export default {
  name: "Ad",
  data: () => ({
    users: [],
    items: [
      {
        label: "Ajouter",
        icon: "pi pi-fw pi-user-plus",
        command : () => {
          console.log(this);
          parent.save();
        }
      },
      {
        label: "Edit",
        icon: "pi pi-fw pi-pencil",
      },
      {
        label: "Modifier",
        icon: "pi pi-fw pi-trash",
      },
      {
        label: "Suprime",
        icon: "pi pi-fw pi-trash",
      },
      {
        label: "Actualiser",
        icon: "pi pi-fw pi-refresh",
        command : () => {
          parent.getAllUsers();
        }
      },
    ],
  }),
  mounted: function() {
    this.getAllUsers();
    parent=this;
  
  },

  methods : {
    getAllUsers() {
      axios
        .get("http://localhost:8083/workout/")
        .then((response) => (this.users = response.data));
    },

   save(){
          alert("saved");
      }

  }
};
</script>