<template>
  <v-footer
    dark
    padless
    app
    inset
    
  >
    <v-card
      class="flex"
      flat
      tile
      color="white"
      :elevation="10"
    >

      <v-card-text class="py-2 black--text text-center">
        {{ new Date().getFullYear() }} — <strong>DN FITNESS</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
