<template>
   <nav>
       <v-app-bar   app >
           <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
           <v-toolbar-title class="text-uppercase ">
               <span class="font-weight-light">DN</span>
               <span>FITNESS</span>
           </v-toolbar-title>
           <v-spacer></v-spacer>
           <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn
          text
          v-on="on"
        >
          <v-icon left>expand_more</v-icon>
            <span>Menu</span>
        </v-btn>
      </template>
      <v-list flat>
        <v-list-item v-for="link in links"  :key="link.text" router :to="link.route" active-class="border">
          <v-list-item-title >{{link.text}}</v-list-item-title>
        </v-list-item>
      </v-list>
            </v-menu>
            <v-btn text>
                <span>Exit</span>
                <v-icon right>exit_to_app</v-icon>
             </v-btn>
       </v-app-bar>
      <v-navigation-drawer  v-model="drawer" color="#0f172a"  app >
      
          <v-layout column align-center>
               <v-flex class="mt-5"> 
                    <v-avatar size="100">
                            <img src="../assets/delpotcho.jpg" alt="">
                    </v-avatar>
                    <p  class="white--text subheading mt-3 ml-n2 text-center">Nour Mohammed</p>
                      
               </v-flex>
               <v-flex class="mt-4 mb-4">
            
               </v-flex>
          </v-layout>
          <v-list flat>
              <v-list-item v-for="link in links"  :key="link.text" router :to="link.route" active-class="border">
                  <v-list-item-action>
                     <v-icon color="#e2e8f0" >{{link.icon}}</v-icon>
                  </v-list-item-action>
                  <v-list-item-content >
                      <v-list-item-title class="white--text" >{{link.text}}</v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
          </v-list>
      </v-navigation-drawer>
   </nav>
</template>
<script>

export default {
   data: () => ({
      drawer: true,
      links :[
          {icon: 'dashboard', text:'Dashboard', route: '/'},
           {icon: 'person', text:'Adhernet', route: '/Adherent'},
          {icon: 'person', text:'Coach', route: '/Coach'},
          {icon: 'folder', text:'Seance', route: '/Seance'},
          {icon: 'person', text:'calendar', route: '/calendar'},
          {icon: 'folder', text:'My Project', route: '/projects'},
          {icon: 'person', text:'Team', route: '/team'},
      ]
     
    }),
    components: {
    
  },

   
}
</script>
<style scoped>
.border {
  border-left: 4px solid red
  ;
}

</style>
